/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Poppins:wght@400;500;700&family=Roboto:wght@400;500;700&display=swap');


/* Tailwind Directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .nav-item {
    @apply font-poppins px-2 font-thin text-white/90
  }
  body {  
    background-color: #281c1c;
    color: #fff; 
  }
  .gradient-text {
    @apply bg-gradient-to-b from-[#814E00] to-[#C07F00] bg-clip-text text-transparent
  }
}

.btn-border { 
  border: 3px solid transparent; 
  border-image: linear-gradient(to bottom, #814E00, #C07F00); 
  border-image-slice: 1; 
  border-radius: 9999px !important; /* Full round corners */
  
}

.shadow{
  filter: drop-shadow(-160px -150px 150px rgba(255, 255, 255, 0.63));
  pointer-events: none;
}

